<template>
    <div style="margin: 15px 0px 15px 45px">
        <h3>Create Environment</h3>
        <el-row>
            <el-col :span="6">

                <div class="form-group">
                    <label>Environment Name</label>
                    <input type="email" class="form-control" v-model="name">
                </div>
                <label>Branch</label>
                <select class="form-control" v-model="branch">
                    <option>mainnet</option>
                    <option>alphanet</option>
                    <option>zeronet</option>
                </select>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" v-model="p"> connect to Public Blockchain
                    </label>
                </div>
                <div class="form-actions">
                    <button type="submit" v-on:click="submit()" class="btn btn-form btn-primary">OK</button>
                </div>
            </el-col>
        </el-row>
    </div>
</template>


<script>
    export default {
        name: 'CreateEnv',
        data() {
            return {
                branch: "mainnet",
                p: true,
                name: ""
            }
        },
        watch: {

        },
        mounted(){

        },
        methods: {
            submit(){
                this.$store.dispatch("newEnv",{
                    name: this.name,
                    public: this.p,
                    branch: this.branch
                })
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>


</style>
