<template>
    <div class="outer">

        <el-row>
            <tez-node style="margin-top: 15px" :e="nodedata"></tez-node>
            <el-col class="box" style="margin-left: 25px; margin-top: 15px; height: 150px; opacity: 0.7; width: 250px">
                Recent Blocks <br>
                <table>
                    <tr>
                        <td>Level</td>
                        <td>Hash</td>
                    </tr>
                    <tr v-for="(a,b) in nodedata.RecentBlocks" v-bind:key="b">
                        <td v-if="b <= 2" >{{ a.header.level }}</td>
                        <td v-if="b <= 2" >{{ a.hash.substr(0,12) }}...</td>
                    </tr>
                </table>
            </el-col>
            <el-col class="infobox" v-if="nodedata.State === 'identity_generate'" style="margin-left: 25px; margin-top: 15px; height: 150px; opacity: 1; width: 500px">
                <h3>Info: Identity Generation</h3>
                <p>The Tezos Node is currently generating a new identity file, this might take a few minutes, depending on how fast your CPU is</p>
            </el-col>
            <el-col class="infobox" v-if="nodedata.level <= 5 && nodedata.Public" style="margin-left: 25px; margin-top: 15px; height: 150px; opacity: 1; width: 500px">
                <h3>Info: Starting Node...</h3>
                <p>Your Tezos node will start downloading the Blockchain soon, please allow it a few Minutes to initialize. ( find new Peers, etc )</p>
            </el-col>

            <el-col
                    v-if="(nodedata.level <= nodedata.ExternalMaxLevel )"
                    class="box" style="margin-left: 25px; margin-top: 15px; height: 150px; opacity: 0.7; width: 250px">
                Syncing.... <br>
                <el-row style="margin-top: 35px;">
                    <el-col :span="8">
                        <progress-bar style="margin: 0px;"
                                      :options="gaugeoptions"
                                      :value="(nodedata.level / nodedata.ExternalMaxLevel) * 100"
                        />
                    </el-col>
                    <el-col :span="12">
                        <table>
                            <tr>
                                <td>Your Node</td>
                                <td>{{ nodedata.level }}</td>
                            </tr>
                            <tr>
                                <td>Network</td>
                                <td>{{ nodedata.ExternalMaxLevel }}</td>
                            </tr>
                        </table>
                    </el-col>
                </el-row>
            </el-col>


        </el-row>


        <br style="margin-top: 50px">
        <h3>Monitoring</h3>

        <div v-if="renderCharts " class="box">
                <el-row :gutter="36">
                    <el-col :span="12">
                        <stats-chart v-if="renderCharts" :chartData="nodedata.Stats.CpuUsage" color="#99ccff" title="CPU Usage %"></stats-chart>
                    </el-col>
                    <el-col :span="12">
                        <stats-chart style="opacity: 0.85" v-if="renderCharts" :chartData="nodedata.Stats.NetInTraffic" color="#bbbbbb" title="Network In - kb/s" ></stats-chart>
                    </el-col>
                </el-row>
                <el-row :gutter="36">
                    <el-col :span="12">
                        <stats-chart v-if="renderCharts" :chartData="nodedata.Stats.MemUsage" color="#996633" title="Memory Usage - MiB" ></stats-chart>
                    </el-col>
                    <el-col :span="12">
                        <stats-chart style="opacity: 0.85" v-if="renderCharts" :chartData="nodedata.Stats.NetOutTraffic" color="#bbbbbb" title="Network Out - kb/s" ></stats-chart>
                    </el-col>
                </el-row>
        </div>

        <el-row>
            <el-col :span="8">
                <br style="margin-top: 50px">
                <h3>Resource Allowance</h3>
                <div class="box">
                    <el-row>
                        <el-col :span="6">
                            RAM
                        </el-col>
                        <el-col :span="10">
                            <vue-slider :min="300" :max="8000" :interval="50" v-model="resources.ram"></vue-slider>
                        </el-col>
                        <el-col style="text-align: right" :span="8">
                            {{ resources.ram }} MIB
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="6">
                            CPU
                        </el-col>
                        <el-col :span="10">
                            <vue-slider :min="0.1" :max="2" :interval="0.1" v-model="resources.cpu"></vue-slider>
                        </el-col>
                        <el-col  style="text-align: right" :span="8">
                            {{resources.cpu}} CPU
                        </el-col>
                    </el-row>
                    <br>
                    <button class="btn btn-large btn-positive" v-on:click="setNodeResources()"> Save </button>
                </div>
            </el-col>
        </el-row>
    </div>
</template>

<script>
    /* eslint-disable */
    import VueSlider from 'vue-slider-component'
    import 'vue-slider-component/theme/antd.css'
    import StatsChart from "./StatsChart"
    import TezNode from "./../cards/TezNode"

    export default {
        name: 'Env',
        props: {
            e: Object
        },
        data(){
          return this.initState()
        },
        mounted(){
            // eslint-disable-next-line
            this.init()
            this.$store.dispatch("clearIntervals")
            this.$store.dispatch("setInterval", {
                name: "monitoring_updates",
                interval: setInterval(this.init,1000)
            })
        },
        watch: {
            "e": function(){
                this.init()
            }
        },
        methods: {
            initState(){
                return {
                    nodedata: {
                        State: "",
                        Level: "...",
                        Branch: "nonet",
                        Name: "Loading",
                        level: "..."
                    },
                    renderCharts: false,
                    resources: {
                        ram: -1,
                        cpu: -1
                    },
                    gaugeoptions: {
                        text: {
                            fontSize: 0,
                            hideText: true
                        },
                        progress: {
                            color: '#2dbd2d',
                            backgroundColor: '#C0C0C0'
                        },
                        layout: {
                            height: 50,
                            width: 50,
                            zeroOffset: 0,
                            strokeWidth: 10,
                            progressPadding: 0,
                            type: 'circle'
                        }
                    }
                }
            },
            setNodeResources(){
                this.$store.dispatch("setNodeResources", {
                    envName: this.e.Name,
                    cpu: this.resources.cpu,
                    ram: this.resources.ram,
                })
            },
            init(){
                if (this.nodedata.Name != this.e.Name){
                    this.resources.cpu = this.e.Node.Resources.CPUCount / 1000;
                    this.resources.ram = this.e.Node.Resources.MemoryMax;
                }
                var self = this;
                this.$store.dispatch("getNode", {
                    envName: this.e.Name,
                    sf: function(data){
                        self.nodedata = data;
                        if (typeof self.nodedata.Stats !== 'undefined') {
                            self.renderCharts = true
                        }
                        self.nodedata.level = "unavailable"
                        self.nodedata.Name = self.e.Name
                        self.nodedata.Public = self.e.Public
                        try {
                            self.nodedata.level = data.RecentBlocks[0].header.level;
                        } catch (e) { }

                    }
                })
            }
        },
        components: {
            StatsChart,
            TezNode,
            VueSlider,
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

    .outer {
        margin: 30px
    }

</style>
