<template>
    <div style="margin: 0px 0px 15px 45px">
       <el-row>
           <el-col :span="12">
               <h3>{{ e.Name }} Tezos Node Logs</h3>
           </el-col>
           <el-col :span="8" style="margin-top: 35px; text-align: right;">
               <button v-on:click="load()" class="btn btn-primary">Reload</button>
               <toggle-button style="margin-left: 10px; margin-top:5px" :width="70" :font-size="13" v-model="live" :labels="{checked: 'live', unchecked: 'paused'}"/>
           </el-col>
       </el-row>

        <div id='wrapper'>
            <pre class='code code-logs' id="pre"><code>
            <p v-for="(l,k) in logs" v-bind:key="k">{{ l }}</p>
            </code></pre>
        </div>
    </div>
</template>


<script>
    export default {
        name: 'Logs',
        data() {
            return {
                logs: ["Loadingg.....","....",".."],
                live: true,
                inter: null,
            }
        },
        props: {
            e: Object
        },
        watch: {
            "e": function(){
                this.load()
            }
        },
        mounted(){
            this.$store.dispatch("clearIntervals")
            this.load()
            this.$store.dispatch("setInterval", {
                name: "log_updates",
                interval: setInterval(this.liveUpdate,1000)
            })

        },
        methods: {
            liveUpdate(){
              if (this.live){
                  this.load()
              }
            },
            load(){
                var self = this
                this.$store.dispatch("GetTezLogs", {envName: this.e.Name,
                sf: function(data){
                    self.logs = data
                    var container = self.$el.querySelector("#pre");
                    container.scrollTop = container.scrollHeight;
                }})
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

    #wrapper {
        margin:0 auto;
        user-select: text;
        -webkit-user-select: text;
    }

    p {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    /* CSS Simple Pre Code */
    pre {
        width: 100%;
        background: #333;
        white-space: pre;
        word-wrap: break-word;
        overflow: auto;
        max-height: 80%
    }

    pre.code {
        border-radius: 4px;
        border: 2px solid #292929;
        position: absolute;
        width:95%;
        overflow-y: auto;
        background-color: #282f41;
    }

    pre.code label {
        font-family: sans-serif;
        font-weight: bold;
        font-size: 13px;
        color: #ddd;
        position: absolute;
        left: 1px;
        top: 15px;
        text-align: center;
        width: 60px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        pointer-events: none;
        background-color: #18386f;
    }

    pre.code code {
        font-family: "Inconsolata","Monaco","Consolas","Andale Mono","Bitstream Vera Sans Mono","Courier New",Courier,monospace;
        display: block;
        margin: 0 0 0 60px;
        padding: 15px 16px 14px;
        border-left: 1px solid #555;
        overflow-x: auto;
        font-size: 13px;
        line-height: 19px;
        color: #ddd;
    }

    pre::after {
        content: "double click to selection";
        padding: 0;
        width: auto;
        height: auto;
        position: absolute;
        right: 18px;
        top: 14px;
        font-size: 12px;
        color: #ddd;
        line-height: 20px;
        overflow: hidden;
        -webkit-backface-visibility: hidden;
        transition: all 0.3s ease;
    }

    pre:hover::after {
        opacity: 0;
        visibility: visible;
    }

    pre.code-logs code {
        color: #e6e7ff;
    }

</style>
