<template>
    <div style="margin: 15px 0px 15px 45px">
        <h2>{{e.Name}} - RPC Explorer</h2>
        <el-row>
                <el-row :gutter="15">
                    <el-col :span="2">
                        <select class="form-control">
                            <option>GET</option>
                        </select>
                    </el-col>
                    <el-col :span="17">
                        <div class="form-group">
                            <input class="form-control" v-model="url">
                        </div>
                    </el-col>
                    <el-col :span="2">
                        <button class="btn btn-large btn-primary" v-on:click="send()">Send</button>
                    </el-col>
                </el-row>
        </el-row>
        <el-row style="margin-top:25px">
            <el-col :span="20">
                <div id="editor" class="editor" style="height: 600px; margin:0px"></div>
            </el-col>
        </el-row>
    </div>
</template>

<script>
    /* eslint-disable */
    var monaco = require('monaco-editor')

    export default {
        name: 'Env',
        props: {
            e: Object
        },
        data() {
            return {
                monaco: {},
                url: "/chains/main/blocks/head",
            }
        },
        watch: {
            "e": function(){
                console.log("watch e")
            }
        },
        mounted(){
            console.log("asdasd", this.e);
            this.$store.dispatch("clearIntervals")
            var editor = monaco.editor.create(document.getElementById('editor'), {
                value: [
                    ':)'
                ].join('\n'),
                language: 'json',
                readOnly: true,
            });
            this.monaco = editor
        },
        methods: {
            send(){
                this.monaco.setValue("Loading....")
                console.log("rpce", this.e);
                var self = this;
                this.$store.dispatch("GetRPC", {
                    url: this.url,
                    args: "",
                    envName: this.e.Name,
                    sf: function(data){
                        self.monaco.setValue(JSON.stringify(data,null,2))
                    }
                })
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>


</style>
