<template>
    <div class="small">
        <line-chart class="small" :chart-data="datacollection" :options="options"></line-chart>
    </div>
</template>

<script>
    /* eslint-disable */
    import LineChart from './LineChart.js'

    export default {
        components: {
            LineChart
        },
        data () {
            return {
                intervalActive: false,
                datacollection: null,
                options: {
                    tooltips: {
                        enabled: false
                    },
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        xAxes: [{
                            type: 'time',
                        }]
                    }
                }
            }
        },
        props: {
            chartData: Array,
            title: String,
            color: String,
        },
        mounted () {
            this.fillData();
        },
        watch: {
            "chartData": function(){
                this.fillData()
            }
        },
        methods: {
            fillData () {
                if (typeof this.chartData !== 'undefined'){
                    var chart = {
                        labels: [],
                        datasets: [
                            {
                                pointRadius: 0,
                                lineTension: false,
                                label: this.title,
                                backgroundColor: this.color,
                                data: []
                            }
                        ]
                    }
                    this.chartData.forEach(function(d){
                        chart.labels.push(d.Timestamp)
                        chart.datasets[0].data.push(d.Value)
                    })
                    this.datacollection = chart
                }

            },
            getRandomInt () {
                return Math.floor(Math.random() * (50 - 5 + 1)) + 5
            }
        }
    }
</script>

<style>
    .small {
        width: 100%;
        max-height: 250px;
    }
</style>
