<template>
    <el-col :span="6" class="box" style="width: 500px; height: 150px;">
        <el-row :gutter="50" v-if="typeof e === 'object'">

            <el-col :span="4">
                <img v-if="e.Branch == 'mainnet'" src="@/assets/tezlogo/mainnet.png" style="width: 70px; padding: 5px" alt="">
                <img v-if="e.Branch == 'zeronet'" src="@/assets/tezlogo/zeronet.png" style="width: 70px; padding: 5px" alt="">
                <img v-if="e.Branch == 'alphanet'" src="@/assets/tezlogo/alphanet.png" style="width: 70px; padding: 5px" alt="">
                <img v-if="e.Branch == 'betanet'" src="@/assets/tezlogo/alphanet.png" style="width: 70px; padding: 5px" alt="">
            </el-col>

            <el-col :span="6">
                <h5>{{ e.Name }}</h5>
                <table v-if="e.State">
                    <tr>
                        <td>Branch</td>
                        <td>{{ e.Branch }}</td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td>{{ e.State }}</td>
                    </tr>
                    <tr>
                        <td>Head</td>
                        <td>{{ e.level }}</td>
                    </tr>
                </table>
            </el-col>

            <el-col :span="14">
               <el-row>
                   <button class="btn btn-default pull-right managebtn" v-on:click="setState('start')">Start</button>
               </el-row>
                <el-row>
                    <button class="btn btn-default pull-right managebtn" v-on:click="setState('pause')">Pause</button>
                </el-row>
                <el-row>
                    <button class="btn btn-default pull-right managebtn" v-on:click="setState('recreate')">Recreate</button>
                </el-row>
                <el-row>
                    <button class="btn btn-negative pull-right managebtn" v-on:click="setState('purge')">Purge</button>
                </el-row>
            </el-col>

        </el-row>
    </el-col>
</template>

<script>
    /* eslint-disable */

    export default {
        name: 'TezCard',
        props: {
            e: Object
        },
        data(){
            return {

            }
        },
        mounted(){
        },
        watch: {
        },
        methods: {
            setState(state){
                this.$store.dispatch("setNodeState",{
                    envName: this.e.Name,
                        action: state
                })
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

    .managebtn {
        opacity: 0.8;
        margin-top: 5px;
        width: 70px;
    }

    .managebtn:hover {
        opacity: 1
    }

    .outer {
        margin: 50px
    }

</style>
