<template>
    <div>
        <div class="box dashboardbox" style="width:250px">
            <h5>Environments</h5>
            <ul class="list-group">
                <li class="list-group-item" v-for="(e,a) in Storage.Environments" v-bind:key="a">
                    <el-row>
                        <el-col :span="8">
                            <img v-if="e.Node.Branch == 'mainnet'" src="@/assets/tezlogo/mainnet.png" style="width: 40px; padding: 5px" alt="">
                            <img v-if="e.Node.Branch == 'zeronet'" src="@/assets/tezlogo/zeronet.png" style="width: 40px; padding: 5px" alt="">
                            <img v-if="e.Node.Branch == 'alphanet'" src="@/assets/tezlogo/alphanet.png" style="width: 40px; padding: 5px" alt="">
                            <img v-if="e.Node.Branch == 'betanet'" src="@/assets/tezlogo/alphanet.png" style="width: 40px; padding: 5px" alt="">
                        </el-col>
                        <el-col :span="16">
                            <strong>{{ e.Name }}</strong> :: {{e.Node.Branch }}
                            <p>{{ e.Node.State }}</p>
                            <p v-if="e.Node.Public">Public</p>
                            <p v-if="!e.Node.Public">Sandboxed</p>
                        </el-col>
                    </el-row>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Dashboard',
        props: {
            e: Object
        },
        data() {
            return {
                tab: "dashboard"
            }
        },
        computed: {
            Storage: function(){
                return this.$store.state.Storage
            },
            RuntimeData: function(){
                return this.$store.state.RuntimeData
            }
        },
        watch: {
            "e": function(){
                this.tab = "dashboard"
            }
        },
        components: {
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

    .dashboardbox {
        margin:25px;
    }

</style>
