<template>
    <div>
        <div class="tab-group">
            <div class="tab-item" v-on:click="tab = 'dashboard'">
                Dashboard
            </div>
            <div class="tab-item" v-on:click="tab = 'rpc'">
                RPC Explorer
            </div>
            <div class="tab-item" v-on:click="tab = 'logs'">
                Logs
            </div>
        </div>
        <dashboard v-if="tab==='dashboard'" :e="e"></dashboard>
        <r-p-c-explorer v-if="tab==='rpc'"  :e="e"></r-p-c-explorer>
        <logs v-if="tab==='logs'" :e="e"></logs>
    </div>
</template>

<script>
    import Dashboard from "./environment/Dashboard"
    import RPCExplorer from "./environment/RPCExplorer"
    import Logs from "./environment/Logs"
    export default {
        name: 'Env',
        props: {
            e: Object
        },
        data() {
            return {
                tab: "dashboard"
            }
        },
        watch: {
            "e": function(){
                this.tab = "dashboard"
            }
        },
        components: {
            Dashboard,
            RPCExplorer,
            Logs
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>


</style>
