<template>
    <div>
        <div class="tab-group">
            <div class="tab-item" v-on:click="tab = 'dashboard'">
                Dashboard
            </div>
            <div class="tab-item" v-on:click="tab = 'webui'">
                WebUI
            </div>
        </div>
        <div style="height: 100%">
            <div class="ipfswrapper" v-if="tab=='dashboard'">
                <el-row>
                    <el-col :span="5">
                        <img style="width: 250px; padding-bottom: 25px;" src="../assets/ipfs-logo.png" alt="">
                    </el-col>
                    <el-col :span="5" class="box" style="height: 120px">
                        <span class="icon icon-db-shape" style="color:green" v-if="Storage.IPFSConfig.Enabled"> Enabled </span>
                        <span class="icon icon-db-shape" style="color:red" v-if="!Storage.IPFSConfig.Enabled"> Disabled</span>
                        <br>
                        UI: {{ weburl }}
                        <el-row style="margin-top: 25px">
                            <el-col :span="12" class="pull-left">
                                <button class="btn btn-positive">Enable</button>
                            </el-col>
                            <el-col :span="12">
                                <button class="pull-right btn btn-warning">Disable</button>
                            </el-col>
                        </el-row>
                    </el-col>
                </el-row>
                <el-row>
                    <h3>Monitoring</h3>
                    <div v-if="true " class="box">
                        <el-row :gutter="36">
                            <el-col :span="12">
                                <stats-chart v-if="renderCharts" :chartData="Stats.CpuUsage" color="#99ccff" title="CPU Usage %"></stats-chart>
                            </el-col>
                            <el-col :span="12">
                                <stats-chart style="opacity: 0.85" v-if="renderCharts" :chartData="Stats.NetInTraffic" color="#bbbbbb" title="Network In - kb/s" ></stats-chart>
                            </el-col>
                        </el-row>
                        <el-row :gutter="36">
                            <el-col :span="12">
                                <stats-chart v-if="renderCharts" :chartData="Stats.MemUsage" color="#996633" title="Memory Usage - MiB" ></stats-chart>
                            </el-col>
                            <el-col :span="12">
                                <stats-chart style="opacity: 0.85" v-if="renderCharts" :chartData="Stats.NetOutTraffic" color="#bbbbbb" title="Network Out - kb/s" ></stats-chart>
                            </el-col>
                        </el-row>
                    </div>
                </el-row>
                <el-row>
                    <el-col :span="8">
                        <br style="margin-top: 50px">
                        <h3>Resource Allowance</h3>
                        <div class="box">
                            <el-row>
                                <el-col :span="6">
                                    RAM
                                </el-col>
                                <el-col :span="10">
                                    <vue-slider :min="300" :max="8000" :interval="50" v-model="resources.ram"></vue-slider>
                                </el-col>
                                <el-col style="text-align: right" :span="8">
                                    {{ resources.ram }} MIB
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="6">
                                    CPU
                                </el-col>
                                <el-col :span="10">
                                    <vue-slider :min="0.1" :max="3" :interval="0.1" v-model="resources.cpu"></vue-slider>
                                </el-col>
                                <el-col  style="text-align: right" :span="8">
                                    {{resources.cpu}} CPU
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="6">
                                    Storage
                                </el-col>
                                <el-col :span="10">
                                    <vue-slider :min="5" :max="2048" :interval="10" v-model="resources.disk"></vue-slider>
                                </el-col>
                                <el-col  style="text-align: right" :span="8">
                                    {{resources.disk}} GB
                                </el-col>
                            </el-row>
                            <br>
                            <button class="btn btn-large btn-positive" v-on:click="setNodeResources()"> Save </button>
                        </div>
                    </el-col>
                </el-row>
            </div>
            <div v-if="tab=='webui'" style="height: 100%">
                <el-row v-if="Storage.IPFSConfig.Enabled">
                    <div class="infoheader">
                        This is the official IPFS Web Interface, this is not part of Tplus,
                        You can also view this in a browser on {{weburl}}
                    </div>
                </el-row>
                <el-row style="position: absolute; height: 100%; width: 100%">
                    <iframe   class="webui" :src="weburl" frameborder="0">
                        Loading....
                    </iframe>
                    <div  style="margin:15px;" v-if="!Storage.IPFSConfig.Enabled">
                        IPFS not enabled
                    </div>
                </el-row>
            </div>
        </div>
    </div>
</template>

<script>
    import StatsChart from "./environment/StatsChart"
    import VueSlider from 'vue-slider-component'


    export default {
        name: 'Env',
        props: {
            e: Object
        },
        data() {
            return {
                tab: "dashboard",
                weburl: "http://172.17.0.3:5001/webui",
                renderCharts: true,
                Stats: {
                    CpuUsage: [],
                    NetInTraffic: [],
                    MemUSage: [],
                    NetOutTraffic: []
                },
                resources: {
                    ram: 5000,
                    cpu: 0.5,
                    disk: 200,
                }
            }
        },
        computed: {
            Storage: function(){
                return this.$store.state.Storage
            }
        },
        watch: {
            tab: function() {
                if (this.tab == 'dashbaord'){
                    this.init()
                }
            }
        },
        methods: {
            init: function(){
                var self = this;
                this.$store.dispatch("getIPFSStats", {
                    sf: function(data){
                        self.Stats.CpuUsage = data.Stats.CpuUsage;
                        self.Stats.NetInTraffic = data.Stats.NetInTraffic;
                        self.Stats.MemUsage = data.Stats.MemUsage;
                        self.Stats.NetOutTraffic = data.Stats.NetOutTraffic;
                    }
                })
            }
        },
        mounted(){
            this.$store.dispatch("clearIntervals")
            this.init()
            this.$store.dispatch("setInterval", {
                name: "ipfs_monitoring_updates",
                interval: setInterval(this.init,2500)
            })
        },
        components: {
            StatsChart,
            VueSlider
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

    .ipfswrapper {
        margin: 35px;
    }

    .webui {
        margin: 0px;
        width: 100%;
        height: 100%;
        min-height: 100%;
        position: relative;
    }

    .infoheader {
        text-align: center;
        padding-top: 3px;
        background-color: #0b3a53;
        width: 100%;
        color: white;
    }

</style>
