<template>
    <div class="window">
        <header class="toolbar toolbar-header">
            TezTool
        </header>
        <div class="window-content" style="text-align: center">
            <div class="pane-group">
                <div class="pane" style="padding: 50px;">

                    <line-scale-pulse-out-loader style="opacity: 0.2" color="#1123" size="80px"></line-scale-pulse-out-loader>
                    <line-scale-pulse-out-loader color="#1123" size="80px"></line-scale-pulse-out-loader>
                    <line-scale-pulse-out-loader style="opacity: 0.2" color="#1123" size="80px"></line-scale-pulse-out-loader>

                    <p style="opacity: 0.9">Sorry, we need to download some dependencies</p>
                    <p style="opacity: 0.8">This will only take a Minute, or two...</p>
                </div>
            </div>
        </div>
        <footer class="toolbar toolbar-footer">
            <div class="toolbar-actions">
            </div>
        </footer>
    </div>
</template>

<script>
    export default {
        name: 'HelloWorld',
        props: {
            msg: String
        },
        data() {
            return {
            }
        },
        methods: {
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .setup {
        text-align: left;
        padding: 50px;
        width: 100wh;
        height: 90vh;
        background: linear-gradient(-45deg, #e6e1ed, #EEEEEE);
    }

    @-webkit-keyframes Gradient {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }

    @-moz-keyframes Gradient {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }

    @keyframes Gradient {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }

    h1,
    h6 {
        font-family: 'Open Sans';
        font-weight: 300;
        text-align: center;
        position: absolute;
        top: 45%;
        right: 0;
        left: 0;
    }


    h3 {
        margin: 40px 0 0;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    li {
        display: inline-block;
        margin: 0 10px;
    }
    a {
        color: #42b983;
    }
</style>
