<template>
    <div class="window">
        <header class="toolbar toolbar-header">
            <h1 class="title"></h1>
        </header>
        <div class="window-content" style=" background: linear-gradient(-45deg, #e6e1ed, #EEEEEE); text-align: center;">
            <div class="pane-group">
                <div class="pane">
                    <h1>Ups..</h1>
                    <img src="img/docker.png" alt="">
                    <p>TezTool requires Docker to be installed</p>
                    <p>Please check https://docs.docker.com/install for Instructions</p>
                </div>
            </div>
        </div>
        <footer class="toolbar toolbar-footer">
            <h1 class="title"></h1>
        </footer>
    </div>
</template>

<script>
    export default {
        name: 'HelloWorld',
        props: {
            msg: String
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    h3 {
        margin: 40px 0 0;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    li {
        display: inline-block;
        margin: 0 10px;
    }
    a {
        color: #42b983;
    }
</style>
