<template>
    <div class="window">
        <header class="toolbar toolbar-header">
            TezTool
        </header>
        <div class="window-content">
            <div class="pane-group">
                <div class="pane" style="padding: 50px; text-align: center">

                    <line-scale-pulse-out-loader style="opacity: 0.2" color="#1123" size="80px"></line-scale-pulse-out-loader>
                    <line-scale-pulse-out-loader color="#1123" size="80px"></line-scale-pulse-out-loader>
                    <line-scale-pulse-out-loader style="opacity: 0.2" color="#1123" size="80px"></line-scale-pulse-out-loader>

                    <p style="opacity: 0.9">Loading....</p>
                </div>
            </div>
        </div>
        <footer class="toolbar toolbar-footer">
            <div class="toolbar-actions">
            </div>
        </footer>
    </div>
</template>

<script>
    export default {
        name: 'Loading',
        props: {
            msg: String
        },
        data() {
            return {
            }
        },
        methods: {
        }
    }
</script>
