<template>
  <div id="app">
      <loading v-if="RuntimeData.Status == ''"></loading>
     <install-docker v-if="RuntimeData.Status == 'nodocker'"></install-docker>
     <init v-if="RuntimeData.Status == 'init'"></init>
      <div v-if="RuntimeData.Status == 'ready'">
          <div class="window">
              <header class="toolbar toolbar-header">
                  <h1 class="title">TezTool</h1>
              </header>
              <div class="window-content">
                  <div class="pane-group">
                      <div class="pane-sm sidebar" style="text-align: left">
                          <nav class="nav-group">
                              <h5 class="nav-group-title">Manage</h5>
                              <a class="nav-group-item" v-on:click="nav1 = 'dashboard'">
                                  <span class="icon icon-home"></span>
                                  Dashboard
                              </a>
                          </nav>
                          <br>
                          <nav class="nav-group">
                              <h5 class="nav-group-title">Environments</h5>
                              <a class="nav-group-item" v-for="(e,a) in Storage.Environments" v-bind:key="a"
                                 v-on:click="nav1 = 'env'; env = e"
                              >
                                  <span class="icon icon-play" style="color:green" v-if="e.Node.State == 'running'"></span>
                                  <span class="icon icon-pause" style="color: orange" v-if="e.Node.State == 'paused'"></span>
                                  <span class="icon icon-stop" style="color: red" v-if="e.Node.State != 'paused' && e.Node.State != 'running'"></span>
                                  {{ e.Name }}
                              </a>
                              <a class="nav-group-item"
                                 v-on:click="nav1 = 'newEnv'">
                                  <span class="icon icon-plus-circled" style="color: green"></span>
                                  + New Env
                              </a>
                          </nav>

                          <nav class="nav-group">
                              <h5 class="nav-group-title">Tools</h5>
                              <a class="nav-group-item" v-on:click="nav1 = 'ipfs';" >
                                  <span class="icon icon-db-shape" v-if="Storage.IPFSConfig.Enabled" style="color:green"></span>
                                  <span class="icon icon-db-shape" v-if="!Storage.IPFSConfig.Enabled" style="color:gray"></span>
                                  IPFS
                              </a>
                          </nav>


                      </div>
                      <div class="pane" style="background: linear-gradient(-45deg, #f8f2ff, #f8f8f8);">
                          <div v-if="nav1 === 'env'">
                              <environment :e="env"></environment>
                          </div>

                          <div v-if="nav1 === 'dashboard'">
                                  <dashboard></dashboard>
                          </div>

                          <div v-if="nav1 === 'ipfs'">
                              <ipfs style="height: 100%" ></ipfs>
                          </div>

                          <div v-if="nav1 == 'newEnv'">
                            <create></create>
                          </div>
                      </div>
                  </div>
              </div>
              <footer class="toolbar toolbar-footer">
                  <h1 class="title"></h1>
              </footer>
          </div>
      </div>
  </div>
</template>


<script>
  import InstallDocker from './components/intro/Installdocker'
  import Init  from './components/intro/Init'
  import Loading  from './components/intro/Loading'
  import Dashboard  from './components/Dashboard'
  import Environment  from './components/Environment'
  import Ipfs  from './components/IPFS'
  import Create from './components/environment/Create'
    export default {
        name: 'Root',
        props: {
            msg: String
        },
        data() {
            return {
                screen: "init",
                nav1: "dashboard",
                env: {}
            }
        },
        computed: {
            Storage: function(){
                return this.$store.state.Storage
            },
            RuntimeData: function(){
                return this.$store.state.RuntimeData
            }
        },
        watch: {

        },
        mounted(){
            /* eslint-disable */
            var self = this;
            document.addEventListener('astilectron-ready', function() {
                // eslint-disable-next-line
                astilectron.onMessage(function(message) {
                    self.$store.dispatch("setState",JSON.parse(message))
                });
            })

        },
        components: {
            InstallDocker,
            Init,
            Loading,
            Environment,
            Dashboard,
            Create,
            Ipfs
        }
    }
</script>


<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}


body {

    background: -moz-linear-gradient(-45deg, #1e5799 0%, #fafbff 0%, #e6eefb 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #1e5799 0%,#fafbff 0%,#e6eefb 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #1e5799 0%,#fafbff 0%,#e6eefb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#e6eefb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


.box {
    font-size: 15px;
    padding: 15px;
    -webkit-box-shadow: 0px 0px 16px 3px rgba(220,226,240,1);
    -moz-box-shadow: 0px 0px 16px 3px rgba(220,226,240,1);
    box-shadow: 0px 0px 16px 3px rgba(220,226,240,1);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,fafbff+0,e6eefb+100 */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,fafbff+0,f2f4f7+100 */
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #1e5799 0%, #fafbff 0%, #f2f4f7 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #1e5799 0%,#fafbff 0%,#f2f4f7 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #1e5799 0%,#fafbff 0%,#f2f4f7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#f2f4f7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.infobox {
    font-size: 15px;
    padding: 15px;
    -webkit-box-shadow: 0px 0px 28px -9px rgba(235,176,0,1);
    -moz-box-shadow: 0px 0px 28px -9px rgba(235,176,0,1);
    box-shadow: 0px 0px 28px -9px rgba(235,176,0,1);
    background: rgb(255, 238, 245);
}

@import './../public/photon/photon-0.1.2-alpha/dist/css/photon.css';

</style>
